<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blue.gasbuy">
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LayoutTheme"
        android:supportsRtl="true">
        <activity

            android:screenOrientation="portrait"
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.KhachHangActivity"
            android:screenOrientation="portrait"/>
        <activity

            android:screenOrientation="portrait"
            android:name=".Activity.DMSanPhamActivity"
            android:label="@string/title_activity_san_pham"
            android:theme="@style/LayoutTheme.NoActionBar" />
        <activity android:name=".Activity.SanPhamActivity"
            android:screenOrientation="portrait"> </activity>
        <activity android:name=".Activity.HoTroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.PhanhoiActivity"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".Activity.DonHangActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SoGasActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>